#!/bin/bash
if [ "$DEBUG" == "1" ]; then
	set -x
fi
TMP_DIR=$(mktemp -d -t installer-XXXXXXXXXX)
function cleanup {
	rm -rf $TMP_DIR > /dev/null
}
function fail {
	cleanup
	msg=$1
	echo "============"
	echo "Error: $msg" 1>&2
	exit 1
}	
function move {
	#move into PATH or cwd
	chmod +x $1 || fail "chmod +x failed"
	#move without sudo
	OUT=$(mv $1 $2 2>&1)
	STATUS=$?
	# failed and string contains "Permission denied"
	if [ $STATUS -ne 0 ]; then
		if [[ $OUT =~ "Permission denied" ]]; then
			echo "mv with sudo..."
			sudo mv $1 $2 || fail "sudo mv failed" 
		else
			fail "mv failed ($OUT)"
		fi
	fi
	echo "{{ if .MoveToPath }}Installed at{{ else }}Downloaded to{{ end }} $2"     
}

function install {
	#settings
	USER="{{ .User }}"
	PROG="{{ .Program }}"
	ASPROG="{{ .AsProgram }}"
	DEFAULT_ARCH="{{ .Arch }}"
	MOVE="{{ .MoveToPath }}"
	RELEASE="{{ .Release }}"
	PRIVATE="{{ .Private }}"
	TOKEN="{{ .Token }}"
	INSECURE="{{ .Insecure }}"
	OUT_DIR="{{ if .MoveToPath }}/usr/local/bin{{ else }}$(pwd){{ end }}"
	GH="https://github.com"
	#bash check
	[ ! "$BASH_VERSION" ] && fail "Please use bash instead"
	[ ! -d $OUT_DIR ] && fail "output directory missing: $OUT_DIR"
	#dependency check, assume we are a standard POISX machine
	which find > /dev/null || fail "find not installed"
	which xargs > /dev/null || fail "xargs not installed"
	which sort > /dev/null || fail "sort not installed"
	which tail > /dev/null || fail "tail not installed"
	which cut > /dev/null || fail "cut not installed"
	which du > /dev/null || fail "du not installed"
	#choose an HTTP client
	GET=""
	if which curl > /dev/null; then
		GET="curl"
		if [[ $INSECURE = "true" ]]; then GET="$GET --insecure"; fi
		GET="$GET --fail -# -L"
	elif which wget > /dev/null; then
		GET="wget"
		if [[ $INSECURE = "true" ]]; then GET="$GET --no-check-certificate"; fi
		GET="$GET -qO-"
	else
		fail "neither wget/curl are installed"
	fi
	#debug HTTP
	if [ "$DEBUG" == "1" ]; then
		GET="$GET -v"
	fi

	if [ "$PRIVATE" = "true" ] && [ -n "$TOKEN" ]; then
       GET="$GET -H 'Authorization: token $TOKEN' -H 'Accept: application/octet-stream'"
    fi

	#find OS #TODO BSDs and other posixs
	case `uname -s` in
	Darwin) OS="darwin";;
	Linux) OS="linux";;
	*) fail "unknown os: $(uname -s)";;
	esac
	#find ARCH
	if uname -m | grep -E '(arm|arch)64' > /dev/null; then
		ARCH="arm64"
		{{ if not .M1Asset }}
		# no m1 assets. if on mac arm64, rosetta allows fallback to amd64
		if [[ $OS = "darwin" ]]; then
			ARCH="amd64"
		fi
		{{ end }}
	elif uname -m | grep 64 > /dev/null; then
		ARCH="amd64"
	elif uname -m | grep arm > /dev/null; then
		ARCH="arm" #TODO armv6/v7
	elif uname -m | grep 386 > /dev/null; then
		ARCH="386"
	else
		fail "unknown arch: $(uname -m)"
	fi
	
	if [ ! -z "$DEFAULT_ARCH" ]; then
		ARCH="$DEFAULT_ARCH"
	fi

	#choose from asset list
	URL=""
	FTYPE=""
	case "${OS}_${ARCH}" in{{ range .Assets }}
	"{{ .OS }}_{{ .Arch }}")
		URL="{{ .URL }}"
		FTYPE="{{ .Type }}"
		;;{{end}}
	*) fail "No asset for platform ${OS}-${ARCH}";;
	esac
	#got URL! download it...
	echo -n "{{ if .MoveToPath }}Installing{{ else }}Downloading{{ end }}"
	echo -n " $USER/$PROG"
	if [ ! -z "$RELEASE" ]; then
		echo -n " $RELEASE"
	fi
	if [ ! -z "$ASPROG" ]; then
		echo -n " as $ASPROG"
	fi
	echo -n " (${OS}/${ARCH})"
	
	#enter tempdir
	mkdir -p $TMP_DIR
	cd $TMP_DIR
	if [[ $FTYPE = ".gz" ]]; then
		which gzip > /dev/null || fail "gzip is not installed"
		bash -c "$GET $URL" | gzip -d - > $PROG || fail "download failed"
	elif [[ $FTYPE = ".bz2" ]]; then
		which bzip2 > /dev/null || fail "bzip2 is not installed"
		bash -c "$GET $URL" | bzip2 -d - > $PROG || fail "download failed"
	elif [[ $FTYPE = ".tar.bz" ]] || [[ $FTYPE = ".tar.bz2" ]]; then
		which tar > /dev/null || fail "tar is not installed"
		which bzip2 > /dev/null || fail "bzip2 is not installed"
		bash -c "$GET $URL" | tar jxf - || fail "download failed"
	elif [[ $FTYPE = ".tar.gz" ]] || [[ $FTYPE = ".tgz" ]]; then
		which tar > /dev/null || fail "tar is not installed"
		which gzip > /dev/null || fail "gzip is not installed"
		bash -c "$GET $URL" | tar zxf - || fail "download failed"
	elif [[ $FTYPE = ".tar.xz" ]] || [[ $FTYPE = ".txz" ]]; then
		which tar > /dev/null || fail "tar is not installed"
		which xz > /dev/null || fail "xz is not installed"
		bash -c "$GET $URL" | tar -xJf - || fail "download failed"
	elif [[ $FTYPE = ".zip" ]]; then
		which unzip > /dev/null || fail "unzip is not installed"
		bash -c "$GET $URL" > tmp.zip || fail "download failed"
		unzip -o -qq tmp.zip || fail "unzip failed"
		rm tmp.zip || fail "cleanup failed"
	elif [[ $FTYPE = ".bin" ]]; then
		bash -c "$GET $URL" > "{{ .Program }}_${OS}_${ARCH}" || fail "download failed"
	else
		fail "unknown file type: $FTYPE"
	fi

	if [ ! -z "$ASPROG" ]; then
		DEST="$OUT_DIR/$ASPROG"
		TMP_BIN=$(find . -type f -name "*$ASPROG*" | head -n 1 | cut -f 2)
		if [ ! -f "$TMP_BIN" ]; then
		fail "could not find binary"
		fi
		move $TMP_BIN $DEST
	else
		TMP_BIN_DIR=$(find . -type d -name "*bin*" | head -n 1 | cut -f 2)
		if [ ! -d "$TMP_BIN_DIR" ]; then
		   TMP_BIN=$(find . -type f | xargs du | sort -n | tail -n 1 | cut -f 2)
		   if [ ! -f "$TMP_BIN" ]; then
		   fail "could not find find binary (largest file)"
		   fi
		   move $TMP_BIN $OUT_DIR/$(basename $TMP_BIN)
		else
		   for f in $TMP_BIN_DIR/*; do
			   if [ -x "$f" ]; then
				   move $f $OUT_DIR/$(basename $f)
			   fi
		   done
		fi
	fi
	cleanup
}
install
